grant {
	
	// Per accedere al codebase
	permission java.net.SocketPermission "localhost:8000", "connect";
};

grant codeBase "${multisala.codebase}" {

	// Per esportare il server di autenticazione
	permission java.net.SocketPermission "localhost:12000", "listen";

	// Per connettersi al registro RMI
	permission java.net.SocketPermission "localhost:1098", "connect";

	// Per accettare connessioni dai client
	//permission java.net.SocketPermission "157.27.241.163:1024-", "accept";
	permission java.net.SocketPermission "*.univr.it:1024-", "accept";

	// Per leggere il percorso del database 
	permission java.util.PropertyPermission "multisala.dbLocation", "read";

	// Per leggere il percorso della cartella corrente
	permission java.util.PropertyPermission "user.dir", "read";

	// Per la gestione del database
	permission java.io.FilePermission "${multisala.dbLocation}", "read";
	permission java.io.FilePermission "${multisala.dbLocation}/multisala.db", "read,write,delete";
	permission java.io.FilePermission "${multisala.dbLocation}/multisala.db-journal", "read,write,delete";
};
