grant codeBase "file://${user.home}/workspace/Multisala/client/-" {
	permission java.net.SocketPermission "${multisala.serverAddress}:8000", "connect";
	permission java.net.SocketPermission "${multisala.serverAddress}:12000", "connect";
	permission java.net.SocketPermission "${multisala.serverAddress}:12001", "connect";

	//Permesso per esportare AdminMS
	permission java.net.SocketPermission "localhost:6000", "listen";

	//Permesso per accettare invocazioni dal central server
	permission java.net.SocketPermission "${multisala.serverAddress}:1024-", "accept";
	
	permission java.net.SocketPermission "${multisala.serverAddress}:1024-", "connect";

	permission java.lang.RuntimePermission "exitVM.0";

	permission java.util.PropertyPermission "javax.net.ssl.keyStore", "write";
	permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStore", "write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "write";
	permission java.util.PropertyPermission "javax.rmi.ssl.client.enabledCipherSuites", "read";
	permission java.util.PropertyPermission "javax.rmi.ssl.client.enabledProtocols", "read";
	permission java.util.PropertyPermission "multisala.certLocation", "read";
	permission java.util.PropertyPermission "multisala.serverAddress", "read";
}; 
    
grant codeBase "http://${multisala.serverAddress}:8000/" {
	permission java.lang.RuntimePermission "exitVM.0";
	permission java.util.PropertyPermission "javax.rmi.ssl.client.enabledCipherSuites", "read";
	permission java.util.PropertyPermission "javax.rmi.ssl.client.enabledProtocols", "read";
}; 
