grant codeBase "file:///home/giacomo/workspace/Multisala/bin/-" {
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.net.SocketPermission "localhost:1098", "connect";
	permission java.net.SocketPermission "192.168.1.5:1098", "connect";
	permission java.io.FilePermission "group1", "write";
	permission java.io.FilePermission "group2", "write";
	permission java.io.FilePermission "/home/giacomo/workspace/Multisala/bin", "read";
	permission java.io.FilePermission "/home/giacomo/workspace/Multisala/bin/multisala.db", "read,write,delete";
	permission java.io.FilePermission "/home/giacomo/workspace/Multisala/bin/multisala.db-journal", "read,write,delete";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.rmi.server";
}; 

grant codeBase "file:///home/giacomo/public_html/-" {
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.io.FilePermission "/home/giacomo/workspace/Multisala/bin", "read";
	permission java.io.FilePermission "/home/giacomo/workspace/Multisala/bin/multisala.db", "read,write,delete";
	permission java.io.FilePermission "/home/giacomo/workspace/Multisala/bin/multisala.db-journal", "read,write,delete";
}; 
