grant codeBase "file://${user.home}/workspace/Multisala/bin/-" {
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.net.SocketPermission "localhost:1098", "connect";
	permission java.net.SocketPermission "${java.rmi.server.hostname}:1098", "connect";
	permission java.io.FilePermission "group1", "write";
	permission java.io.FilePermission "group2", "write";
	permission java.io.FilePermission "${user.dir}", "read";
	permission java.io.FilePermission "${user.dir}/multisala.db", "read,write,delete";
	permission java.io.FilePermission "${user.dir}/multisala.db-journal", "read,write,delete";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.rmi.server";
}; 

grant codeBase "file://${user.home}/public_html/-" {
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.io.FilePermission "${user.dir}", "read";
	permission java.io.FilePermission "${user.dir}/multisala.db", "read,write,delete";
	permission java.io.FilePermission "${user.dir}/multisala.db-journal", "read,write,delete";
}; 
